<header class="mw7 center ph2 flex justify-between bb b--black-10 pv3 mb3">
  <a id="title" class="black no-underline f4 fw3" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

  <form class="flex items-center">
      <label for="darkMode" class="mr2 f7 lh-copy pointer">☾</label>
      <input type="checkbox" name="darkMode" id="darkMode" class="mr3">
      <div id="chartControls" class="dn">
        <label for="dateControl" class="lh-copy pointer mr1 f7">Since</label>
      </div>
  </form>
</header>
