<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="sans-serif bg-near-white">

    {%- include header.html -%}

    <main aria-label="Content" class="center mw7 ph2">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <script src="{{ "/assets/js/chart.min.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>
    <script src="{{ "/assets/js/chartjs-adapter-date-fns.bundle.min.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>
  </body>

</html>
